.form-label {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: #2c3e50;
    margin-right: 15px;
    margin-bottom: 5px;
    font-weight: 500;
    display: block; 
    margin-top: 1rem;
}


.form-input {
    padding: 10px 15px;
    font-size: 15px;
    color: #34495e;
    background-color: #ffffff;
    border: 2px solid #ecf0f1;
    border-radius: 6px;
    width: 100%;
    max-width: 400px;
    margin-bottom: 15px;
    transition: border-color 0.3s ease;
}

.form-input:focus {
    outline: none;
    border-color: #2980b9;
    box-shadow: 0 0 8px rgba(41,128,185,0.2);
}

.form-input::placeholder {
    color: #95a5a6;
}

.form-select {
    padding: 10px 15px;
    font-size: 15px;
    color: #34495e;
    background-color: #ffffff;
    border: 2px solid #ecf0f1;
    border-radius: 6px;
    width: 100%;
    max-width: 400px;
    margin-bottom: 15px;
    appearance: none;
    background-image: url('data:image/svg+xml;utf8,<svg fill="%2334495e" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg"><path d="M7 10l5 5 5-5z"/></svg>');
    background-repeat: no-repeat;
    background-position: right 1px center;
    cursor: pointer;
    transition: border-color 0.3s ease;
}

.form-select:hover {
    border-color: #3498db;
}

.form-select:focus {
    outline: none;
    border-color: #2980b9;
    box-shadow: 0 0 8px rgba(41,128,185,0.2);
}

.btn {
    padding: 10px 20px;
    font-size: 15px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: all 0.3s ease;
    margin-right: 10px;
}

.btn-primary {
    background-color: #3498db;
    color: #ffffff;
}

.btn-primary:hover {
    background-color: #2980b9;
}

.btn-secondary {
    background-color: #95a5a6;
    color: #ffffff;
}

.btn-secondary:hover {
    background-color: #7f8c8d;
}
.editorjs {
    border: #7f8c8d dashed 1px;
    margin-bottom: 0.7rem;
}