@media (max-width: 768px) {
    html{
        font-size: 56%;
    }

    h2 {
        font-size: 1.3rem !important;
    }
    .taskbar .logo {
        flex-wrap: wrap;      
        justify-content: center;
        gap: 0.5rem;
    }

    .taskbar .logo p {
        width: 100%;  
        text-align: center; 
        margin-top: 5px; 
        margin-bottom: 10px;
        font-size: 1.5rem; 
    }

    .taskbar .logo img {
        height: 40px;
        width: auto;
    }
    /*Taskbar*/
    .taskbar {
        flex-direction: column;
        text-align: center;
        padding-bottom: 0rem;
    }
    .banner-text {
        margin-left: 12rem;
        margin-right:12rem;
        font-size: 1.2rem;

    }
    .taskbar .left,
    .taskbar .right {
        width: 100%;
        justify-content: center;
        margin-bottom: 0rem;
    }
    .taskbar .right a {
        border-bottom:1.2px solid #02173f;
        padding-left: 0.2rem;
        padding-right: 0.2rem;
    }
    .taskbar nav {
        flex-direction: column;
        gap: 0.5rem;
    }

    .search-box {
        padding: 0;
    }
    /*Navbar*/
    .navbar-container {
        padding: 0.2rem !important;
    }

    .navbar .menu {
        max-height: 0;
        gap:0rem;
        opacity: 0;
        display: flex;
        background-color: #0044cc;
        width: 100%;
        overflow: hidden;
        transition: max-height 0.7s ease-in-out, opacity 0.7s ease-in-out;
    }

    .menu.active {
        opacity: 1;
        max-height: 1200px;
    }

    .menu li {
        display: block;
        width: 100%;
    }

    .menu>li>a {
        padding: 0.5rem;
        text-align: center;
    }

    .dropdown-menu {
        position: static;
        box-shadow: none;
        padding-left: 1rem;
    }

    .menu-toggle {
        display: block;
    }

    .dropdown .dropdown-menu {
        position: static;
        max-height: 0;
        opacity: 0;
        padding: 0rem;
    }

    .dropdown.active .dropdown-menu {
        max-height: 200px;
        opacity: 1;
    }

}

@media (max-width: 480px) {
    html {
        html{
            font-size: 56.25%;
        }
    }
.taskbar .logo {
        flex-wrap: wrap;  
        justify-content: center; 
        gap: 0.5rem;  
    }

    .taskbar .logo p {
        width: 100%;    
        text-align: center;  
        margin-top: 5px;   
        margin-bottom: 10px;
        font-size: 1.2rem;  
    }
    
    .taskbar .logo img {
        height: 30px;   
        width: auto;
    }
    .taskbar {
        padding: 0.75rem;
    }

    .taskbar nav {
        gap: 0.25rem;
    }

    .banner-text {
        margin-left: 12rem;
        margin-right: 12rem;
        font-size: 1.5rem;

    }
    .banner-text p:first-child {
    font-size: 1.75rem;
    }
    .banner-text p:last-child {
    font-size: 1.75rem;
    }
}


@media (min-width: 769px) {
    #navbar-menu {
        display: flex;
    }

    .menu-toggle {
        display: none;
    }

    .navbar ul {
        flex-direction: row;
        justify-content: center;
        gap: 2rem;
    }
}

@media (min-width: 989px) {
    .main-container {
        flex-direction: row;
    }

    .left-column {
        flex: 3;
    }

    .right-column {
        flex: 1;
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    .bottom-content {
        order: 2;
        width: 100%;
    }

    footer {
        order: 3;
    }
        .banner-text {
        font-size: 2.5rem;
    }
    .banner-text p:first-child {
    font-size: 2.5rem;
    }
    .banner-text p:last-child {
    font-size: 2.5rem;
    }
}